@tailwind base;
@tailwind components;
@tailwind utilities;


.github-font {
  font-family: 'GitHub-Variable', 'GitHub-Extralight', 'GitHub-Light', 'GitHub-Regular', 'GitHub-Medium', 'GitHub-Semibold', 'GitHub-Bold', sans-serif;
}

.clash-display {
  font-family: 'ClashDisplay-Variable', 'ClashDisplay-Extralight', 'ClashDisplay-Light', 'ClashDisplay-Regular', 'ClashDisplay-Medium', 'ClashDisplay-Semibold', 'ClashDisplay-Bold', sans-serif;
}

@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('./fonts/ClashDisplay-Variable.woff2') format('woff2'),
    url('./fonts/ClashDisplay-Variable.woff') format('woff'),
    url('./fonts/ClashDisplay-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Extralight';
  src: url('./fonts/ClashDisplay-Extralight.woff2') format('woff2'),
    url('./fonts/ClashDisplay-Extralight.woff') format('woff'),
    url('./fonts/ClashDisplay-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Light';
  src: url('./fonts/ClashDisplay-Light.woff2') format('woff2'),
    url('./fonts/ClashDisplay-Light.woff') format('woff'),
    url('./fonts/ClashDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('./fonts/ClashDisplay-Regular.woff2') format('woff2'),
    url('./fonts/ClashDisplay-Regular.woff') format('woff'),
    url('./fonts/ClashDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('./fonts/ClashDisplay-Medium.woff2') format('woff2'),
    url('./fonts/ClashDisplay-Medium.woff') format('woff'),
    url('./fonts/ClashDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url('./fonts/ClashDisplay-Semibold.woff2') format('woff2'),
    url('./fonts/ClashDisplay-Semibold.woff') format('woff'),
    url('./fonts/ClashDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url('./fonts/ClashDisplay-Bold.woff2') format('woff2'),
    url('./fonts/ClashDisplay-Bold.woff') format('woff'),
    url('./fonts/ClashDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.browser-frame {
  position: relative;
  width: 100%;
  height: 100%;
  border-color: #333 !important;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 4px 8px rgba(0, 0, 0, .1);
  overflow: hidden;
}

.browser-frame__address{
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  background-color: #222 !important;
  color: #ffffffaa !important;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.browser-frame__top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #333 !important;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

